{% extends 'base.html.twig' %}

{% block title %}Edit Plateformes{% endblock %}

{% block body %}
    <h1>Edit Plateformes</h1>

    {{ include('plateformes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_plateformes_index') }}">back to list</a>

    {{ include('plateformes/_delete_form.html.twig') }}
{% endblock %}
